*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}


.nav__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;
}

/* a{
    list-style-type: none;
} */

.menu__item:not(last-child){
    margin-right: 10px;
}


.about{
    margin-top: 70px;
}

.bg__image{
    background-image: url(./images/image-1\ \(9\).png);
    padding: 137px 30px;

}

.about__info{
    max-width: 400px;
}

.title{
    font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 48px;
color: #FEFCF7;
margin-bottom: 10px;
}

.desc{
    font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;



color: #FEFCF7;

}


.commitment{
    margin-top: 50px;
}


.commitment__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.box-2{
    max-width: 540px;
}


.quality{
    margin-top: 100px;
}
.quality__info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.box-4{
    max-width: 540px;
}


.footer{
    margin-top: 100px;
}

.footer__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3f5679;
    padding: 20px;
}

.footer__link a{
  color: #fff;
}

.footer_links{
    display: flex;
    align-items: center;
   column-gap: 10px;
}

.footer_socials{
    display: flex;
    align-items: center;
    column-gap: 10px;
}